.header{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 1.8rem 5rem 1.5rem 5rem;
    background-color: rgb(129, 126, 255);
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
  }
  .header img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-left: 9rem;
  }
  .shopping-cart-icon{
    margin-left: 0%;
  }
  .search-bar{
    display: flex;
    flex-direction: row;
    height: 3rem;
    margin: 2.6rem 5rem 0rem 14rem;
  }
  .search-box{
    padding-right: 40rem;
    padding-left: 6px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1.5px solid black;
  }
  .search-icon{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1.5px solid black
  }
  .login-signup{
    margin-top: 2.5rem;
    margin-right: 1.5rem;
    margin-left: 10rem;
  }
  .shopping-cart-icon{
    margin-top: 2.5rem;
    margin-right: 8rem;
  }
