.menu{
    display: flex;
    list-style: none;
    background-color: rgb(132, 174, 53);
    margin-top: 0px;
    padding-bottom: 6px;
    padding-top: 3px;
}
a{
    text-decoration: none;
    margin-left: 20px;
    padding: 5px 6px 7px 3px;
    color: white;
    font-size: 15px;
}
