.menu{
    display: flex;
    list-style: none;
    background-color: rgb(231, 76, 60);
    margin-top: 0px;
    padding-bottom: 0.4rem;
    padding-top: 0.2rem;
    max-width: 100%;
}
a{
    text-decoration: none;
    margin-left: 1.3rem;
    padding: 0.25rem 0.4rem 0.4rem 0.4rem;
    color: white;
    font-size: 15px;
    font-family: cursive;

}
.menu li :hover{
    background-color: rgba(44, 50, 163, 0.802);
    color: orange;
    padding-left: 0.4rem;
}
