.menu{
    display: flex;
    list-style: none;
    background-color: rgb(231, 76, 60);
    margin-top: 0px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    max-width: 100%;
}
a{
    text-decoration: none;
    margin-left: 5rem;
    padding: 1rem 0.4rem 1rem 0.5rem;
    color: white;
    font-size: 25px;
    font-family: cursive;
}
.menu li :hover{
    background-color: rgba(44, 50, 163, 0.802);
    color: orange;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}
